.header{
    align-items: center;
    padding: 5px 0;
    position: sticky;
    top: 0;
    z-index: 11;
}
.header ul {
    display: flex;
    justify-content: center;
}

.header ul li{
    list-style: none;
}

.header ul li a{
    margin: 20px;
    font-size: 20px;
        text-decoration: none;
        color: black;
}